table, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
td {
    background-color: #2a8771;
    color: mintcream;
    border-color: mintcream;
    font-family: "Segoe UI", Arial, sans-serif;
}

table {
    text-align: center;
}

body {
    background-color: mintcream;
    margin: 0;
}

header {
    background-image: linear-gradient(to top, #202030 0%, #000000 100%);
    width: 100%;
    text-align: center;
    padding: 20px 0 50px 0;
    background-size: cover;
}

h1, p {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #202030;
    margin: 5px;
}

h1 {
    padding: 5px;
    font-size: 2em;
    font-weight: 350;
    letter-spacing: 1px;
}

#p1, #text {
    font-size: 1.1em;    
}

.style {
    margin: 10px;
    font-size: 1.2em; 
}

.style2 {
    margin: 15px;
    font-size: 1.2em; 

}

.main {
    font-family: "Segoe UI", Arial, sans-serif;
    color: mintcream;
    font-size: 30px;
    
    
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: static;
    top: 1;
    width: 100%;
    background-color: #202030;
}

.li {
    float: left;
    position:relative;
    left: 4%;
    list-style:none;
}

.li-a {
    display: block;
    border-radius: 7px;
    margin: 0 10vw;
    padding: 8px;
    background-color: #202030;
    color: white;
    text-decoration: none;
}
.li-a:hover {
    background-color: #707793;
}
.font {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
}

#calculate {
    border: 0;
    outline: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #43455c;
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

#calculate:hover {
    background-color: #707793;
}

#category {
    border: 0;
    outline: 0;
    width: 107px;
    height: 30px;
    border-radius: 5px;
    background-color: #43455c;
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

#category:hover {
    background-color: #707793;
}

#enter {
    border: 0;
    outline: 0;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #43455c;
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

#enter:hover {
    background-color: #707793;
}

.row {
    border: 0;
    outline: 0;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: #43455c;
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #fff;
    cursor: pointer;
}

.row:hover {
    background-color: #707793;
}

.input {
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    border-radius: 5px;
    margin: 5px;
    background-color: mintcream;
    text-align: center;
    
}

.input:hover {
    background-color: #d5dde6;
    
}

#title {
    padding: 0px;
    margin: 0px;
}


#contact {
    display: inline-block;
}

#link {
    font-size: 1.15em;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #202030;
}

#end {
    background-image: linear-gradient(to top, #000000 0%, #202030 100%);
    padding-top: 50px;
    padding-bottom: 30px;
}